.pirveli {
    color: red;
    font-size: 25px;
    font-family: "Roboto Light";
}

.meore {
    background-color: yellow;
    font-size: 35px;
    border: 2px solid black;
}
body {
    background-color: grey;
}


.my-button {
    background-color: aqua;
    color: red;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.my-button:hover {
    background-color: black;
}